@media screen and (max-width: 375px) {
  .background {
    height: 73vh;
  }
  .background__gradient {
    display: none;
  }
  .header {
    padding: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 8vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header img {
    width: 45px;
    margin-right: 10px;
  }
  .header button {
    width: 90px;
    font-size: 10px;
    margin-right: 5px;
  }
  .header__urls {
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__urls span {
    font-size: 9px;
  }
  .header__logo {
    margin-left: 5px;
  }
  .header__logo-text__company {
    font-size: 12px;
    line-height: normal;
    height: auto;
  }
  .header__logo-text__slogan {
    font-size: 9px;
  }
  .main__info-first {
    line-height: 30px;
    font-size: 20px;
    width: 250px;
  }
  .main__info-second {
    line-height: normal;
    top: 28%;
    font-size: 30px;
    width: 300px;
  }
  .main__info-btn {
    top: 45%;
  }
  .main__more-info {
    height: 7.5vh;
  }
  .main__more-info span {
    line-height: normal;
    font-size: 9px;
  }
  .main__more-info_wrapper-contacts {
    padding: 0 10%;
  }
  .footer__header-first {
    margin-top: 10%;
  }
  .footer__header-second {
    margin-top: 7%;
  }
  .footer__more-info_info-wrapper {
    position: absolute;
    top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__more-info_info-wrapper p {
    width: 100%;
  }
  .footer__more-info_neurology {
    position: absolute;
    top: 170%;
    height: 60vh;
  }
  .footer__more-info_neurology_triangle {
    left: 43%;
  }
  .footer__more-info_massage {
    position: absolute;
    top: 170%;
    height: 60vh;
  }
  .footer__more-info_massage_triangle {
    left: 43%;
  }
  .footer__more-info_rheumatology {
    position: absolute;
    top: 170%;
    height: 60vh;
  }
  .footer__more-info_rheumatology_triangle {
    left: 43%;
  }
  .footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer ul li {
    margin: 15px 0 15px;
    width: 150px;
  }
  .footer ul li:nth-child(2) {
    border-left: none;
    border-right: none;
    border-top: 1px solid #2f80ed;
    border-bottom: 1px solid #2f80ed;
    padding: 30px 0 30px;
  }
  .footer ul li div > img {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .header {
    height: 7vh;
  }
  .background {
    height: 41vh;
  }
  .background__gradient {
    height: 41vh;
  }
  .main__info-first {
    top: 10%;
  }
  .main__info-second {
    top: 15%;
  }
  .main__info-btn {
    top: 35%;
  }
  .main__more-info {
    height: 7vh;
  }
  .footer ul li:first-child:hover .footer__more-info_neurology {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    background: #f6f6f6;
    cursor: auto;
  }
  .footer ul li:first-child:hover .footer__more-info_neurology img {
    width: 40%;
    margin: 0;
    position: absolute;
    right: 5%;
    top: 5%;
  }
  .footer ul li:nth-child(2) {
    border-left: 1px solid #2f80ed;
    border-right: 1px solid #2f80ed;
  }
  .footer ul li:nth-child(2):hover .footer__more-info_massage {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    background: #f6f6f6;
    cursor: auto;
  }
  .footer ul li:nth-child(2):hover .footer__more-info_massage img {
    width: 40%;
    margin: 0;
    position: absolute;
    right: 5%;
    top: 5%;
  }
  .footer ul li:nth-child(2):hover .footer__more-info_neurology {
    display: none;
  }
  .footer ul li:nth-child(3):hover .footer__more-info_rheumatology {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    background: #f6f6f6;
    cursor: auto;
  }
  .footer ul li:nth-child(3):hover .footer__more-info_rheumatology img {
    width: 400px;
    height: 400px;
    margin: 0;
    position: absolute;
    right: 5%;
    top: 5%;
  }
  .footer ul li:nth-child(3):hover .footer__more-info_neurology {
    display: none;
  }
  .footer__more-info_neurology {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    background: #f6f6f6;
    cursor: auto;
  }
  .footer__more-info_neurology img {
    width: 40%;
    margin: 0;
    position: absolute;
    right: 5%;
    top: 5%;
  }
  .footer__more-info_neurology_triangle {
    left: 16%;
  }
  .footer__more-info_massage_triangle {
    left: 45%;
  }
  .footer__more-info_rheumatology_triangle {
    left: 76.5%;
  }
  .footer__more-info_info-wrapper {
    position: absolute;
    top: 10%;
  }
}
/*# sourceMappingURL=adaptive.css.map */